@media (min-width: 375px) {
    .c333 {
        position: relative;
        left: -2px;
    }
}

@media (min-width: 425px) {
    .c333 {
        position: relative;
        left: -2px;
        top: 2px;
    }
}