@media (min-width: 375px) {
    .c333 {
        position: relative;
        left: -2px;
    }
}

@media only screen and  (min-width: 424px) {
    .c333 {
        position: relative;
        left: -2px;
        top: 2px;
    }
}
@media only screen and (min-width:400px) and (max-width:410px){
    .icon-theme button{
top: -6px;
left: 6px;
}
.icon-powerOff div{
    position: relative;
    top: -6px;
    right: 6px;
}
.icon-whatsapp div{
    position: relative;
    left: 3px;
}
.icon-google div{
    position: relative;
    right: 3px;
}
}

@media only screen and (min-width:411px) and (max-width:418px){
    .icon-powerOff div{
        position: relative;
    bottom: 10px;
    right: 8px;
    }
    .icon-theme button{
            bottom: 10px;
    left: 10px;
    }
    .icon-whatsapp div{
        left: 4px;
    position: relative;
    bottom: 2px;
    }
    .icon-google div{
        position: relative;
        bottom: 2px;
        right: 3px;
    }
}

@media only screen and (min-width:419px) and (max-width:424px){
    .icon-powerOff div{
        position: relative;
    bottom: 14px;
    right: 8px;
    }
    .icon-theme button{
            top: -14px;
    left: 10px;
    }
    .icon-whatsapp div{
        left: 6px;
    position: relative;
    bottom: 2px;
    }
    .icon-google div{
        position: relative;
        bottom: 2px;
        right: 5px;
    }
}
.btn-glass{
      backdrop-filter: blur(6px);
  background: linear-gradient(145deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.02));
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 -2px 6px rgba(255, 255, 255, 0.05);
}
.light-radial{
      box-shadow: 
    0 8px 24px rgba(0, 0, 0, 0.15), 
    inset 0 1px rgba(255, 255, 255, 0.6), 
    inset 0 -2px 6px rgba(0, 0, 0, 0.05) !important;
}