.btn {
    position: absolute;
}

.btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    background: rgba(145, 158, 171, 0.24);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.9s;
    opacity: 0;
}

.btn:active::after {
    width: 0;
    height: 0;
    opacity: 1;
    transition: 0s;
}