@import "tailwindcss";
@plugin "@tailwindcss/container-queries";
/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:is(.dark *));
@import "nprogress/nprogress.css";

:root {
  --primary-color: #078dee;
  --primary-color-dark: #0351ab;
  --secondary-color: #68cdf9;

  --account-tab-color:#208AD9;

  --secondary-text-color: #919eab;

  /* lay and back font-size */
  --lay-and-back-prize: 14px;
  --lay-and-back-size: 10px;

  /* market variables */
  --accordion-bg: rgba(7, 141, 238, 0.16);

  /* table header */
  --table-header-bg: rgba(7, 141, 238, 0.16);

  /* sidebar variables */
  --sidebar-active-bg: rgba(7 141 238 / 8%);
  --sidebar-active-hover-bg: rgba(7 141 238 / 16%);
  --sidebar-badge-bg: rgba(7, 141, 238, 0.16);

  /* casino tabs variables */
  --casino-tab-active-bg: rgba(7, 141, 238, 0.08);
  --casino-tab-nonactive-bg: rgba(7, 141, 238, 0.24);
  --casino-tab-active-border: rgba(7, 141, 238, 0.3);
  --casino-tab-nonactive-border: rgb(7, 141, 238);
  --casino-tab-nonactive-text: rgb(145, 158, 171);

  --palette-primary-mainChannel: 7 141 238;
  --palette-error-lighter: #ffe9d5;
  --palette-error-light: #ffac82;
  --palette-error-main: #ff5630;
  --palette-error-darker: #7a0916;
  --palette-grey-400: #c4cdd5;
  --palette-grey-500Channel: 145 158 171;
  --palette-action-hoverOpacity: 0.08;
  --palette-action-disabled: rgba(145, 158, 171, 0.8);
  --customShadows-primary: 0 8px 16px 0 rgba(7 141 238 / 24%);
  --dropdowntext: var(--secondary-text-color);
}

.light {
  --primary-hover: rgba(145, 158, 171, 0.08);
  --dotted-line: rgba(145, 158, 171, 0.2);
  --primary-text-color: black;
  --sport-active-bg: rgba(7 141 238 / 8%);
  --background: #f4f6f8;
  --foreground: #171717;

  --account-tab-bg:#CFE9FA;

  /* table header */
  --table-header-text: var(--primary-color-dark);

  --line-no-selected-bg: #327772;
  --line-no-selected-border: #5dbdb8;
  --line-yes-selected-bg: #2aaf8c;
  --line-yes-selected-border: #40ad92;

  /* login variables */
  --gth-btn-bg: #1c252e;

  /* market variables */
  --arrow-color: var(--primary-color-dark);
  --accordion-text: var(--primary-color-dark);
  --tab-active-bg: #fff;
  --tab-active-text: var(--primary-color);
  --tab-default-text: #637381;
  --market-header-bg: rgba(7, 141, 238, 0.16);
  --market-header-back-bg: #99d5f1;
  --market-header-lay-bg: #f3b9bf;
  --market-bg: #f0f2f5;

  /* market loader */
  --market-loader-bg: #c1c4c8;

  /* exposure btns border  */
  --dropdown-balance-border: #919eab29;

  /* pts logout text color  */
  --dropdown-logout-color: #ff5630;

  --market-name-text: black;

  /* pts hover bg */
  --dropdown-logout-bg-hover: #ff56301a;

  /* sidebar variables */
  --sidebar-badge-text: var(--primary-color-dark);

  /* back variables */
  --back-bg: #48c5fc;
  --back-border: transparent;
  --back-hover: #48c5fc;
  --back-noprice-bg: #48c5fc;
  --back-noprice-border: transparent;
  --back-disabled-bg: #b4e2f8;
  --back-disabled-border: transparent;
  --back-price-text: #000000;
  --back-size-text: #000000;
  /* ---- */
  --back-price-text-noprice: #000000;
  --back-price-text-disabled: #000000;
  --back-size-text-noprice: #000000;
  --back-size-text-disabled: #000000;

  /* lay variables */
  --lay-bg: #fb9ea2;
  --lay-border: transparent;
  --lay-hover: #fb9ea2;
  --lay-noprice-bg: #f4d4d8;
  --lay-noprice-border: transparent;
  --lay-disabled-bg: #f4d4d8;
  --lay-disabled-border: transparent;
  --lay-price-text: #000000;
  --lay-size-text: #000000;
  /* ---- */
  --lay-price-text-noprice: #000000;
  --lay-price-text-disabled: #000000;
  --lay-size-text-noprice: #000000;
  --lay-size-text-disabled: #000000;

  --bs-text: #1c252e;
  --bs-label: rgba(0, 0, 0, 0.5);
  --bs-event-name: rgba(0, 0, 0, 0.5);
  --bs-profit-label: rgba(0, 0, 0, 0.55);
  --bs-input-bg: rgba(0, 0, 0, 0.05);
  --bs-odds-border: rgba(0, 0, 0, 0.15);
  --bs-circle-btn-bg: rgba(0, 0, 0, 0.07);
  --bs-circle-btn-hover: rgba(0, 0, 0, 0.13);
  --bs-quick-pill-bg: rgba(0, 0, 0, 0.04);
  --bs-quick-pill-border: rgba(0, 0, 0, 0.15);
  --bs-quick-pill-hover-bg: rgba(0, 0, 0, 0.09);
  --bs-quick-pill-hover-border: rgba(0, 0, 0, 0.25);
  --bs-cancel-bg: rgba(0, 0, 0, 0.07);
  --bs-cancel-hover: rgba(0, 0, 0, 0.13);

  /* back accent (blue — same in both themes) */
  --bs-back-accent: #03b2ff;
  --bs-back-accent-bg10: rgba(0, 122, 255, 0.1);
  --bs-back-accent-bg15: rgba(0, 122, 255, 0.15);
  --bs-back-accent-rgb: 0, 122, 255;

  /* lay accent (pink — same in both themes) */
  --bs-lay-accent: #ff7a7f;
  --bs-lay-accent-bg10: rgba(255, 45, 85, 0.1);
  --bs-lay-accent-bg15: rgba(255, 45, 85, 0.15);
  --bs-lay-accent-rgb: #48c5fc;
  --back-selected: #03b2ff;
  --lay-selected: #ff7a7f;

  --palette-text-primary: #1c252e;
  --palette-text-secondary: #637381;
  --palette-text-disabled: var(--secondary-text-color);
  --palette-background-paper: #ffffff;
  --palette-background-default: #f4f6f8;
  --palette-background-neutral: #f4f6f8;
  --palette-background-paperChannel: 255 255 255;
  --palette-action-activeChannel: 99 115 129;
  --customShadows-z8: 0 8px 16px 0 rgba(145 158 171 / 16%);
  --customShadows-dropdown:
    0 0 2px 0 rgba(145 158 171 / 24%),
    -20px 20px 40px -4px rgba(145 158 171 / 24%);
  --nav-bullet-light-color: #edeff2;
  --head-hover: #fff;
  --dropdownBg: #fff;
  --IconButton-hoverBg: rgba(
    var(--palette-action-activeChannel) /
      calc(var(--palette-action-hoverOpacity))
  );
}

.dark {
  --primary-hover: rgba(145, 158, 171, 0.08);
  --dotted-line: rgba(145, 158, 171, 0.2);
  --primary-text-color: white;
  --sport-active-bg: #141a21;

  --account-tab-bg:#2b3f4d;

  /* table header */
  --table-header-text: var(--secondary-color);

  --line-no-selected-bg: #5baca7;
  --line-no-selected-border: #4a9692;
  --line-yes-selected-bg: #50d0ae;
  --line-yes-selected-border: #3db99a;
  /* market variables */
  --arrow-color: var(--secondary-color);
  --accordion-text: var(--secondary-color);
  --tab-active-bg: #141a21;
  --tab-active-text: var(--secondary-color);
  --tab-default-text: var(--secondary-text-color);
  --market-header-bg: #163147;
  --market-header-back-bg: #0591cf;
  --market-header-lay-bg: #d1686d;
  --market-bg: #191f27;

  /* login variables */
  --gth-btn-bg: #fff;

  /* exposure btns border  */
  --dropdown-balance-border: #919eab29;

  /* market loader */
  --market-loader-bg: #4a5255;

  /* pts logout text color  */
  --dropdown-logout-color: #ff5630;

  --market-name-text: var(--secondary-color);

  /* pts hover bg */
  --dropdown-logout-bg-hover: #ff56301a;

  /* sidebar variables */
  --sidebar-badge-text: var(--secondary-color);

  /* back variables */
  --back-bg: rgba(12, 33, 55, 0.6);
  --back-border: #03b2ff;
  --back-hover: rgba(12, 33, 55, 0.8);
  --back-noprice-bg: rgba(12, 33, 55, 0.6);
  --back-noprice-border: rgba(219, 234, 254, 1);
  --back-disabled-bg: rgba(12, 33, 55, 0.2);
  --back-disabled-border: rgba(219, 234, 254, 0.5);
  --back-price-text: #03b2ff;
  --back-size-text: #60a5fa;

  /* ---- */
  --back-price-text-disabled: rgba(239, 246, 255, 0.5);
  --back-price-text-noprice: rgba(239, 246, 255, 1);
  --back-size-text-noprice: #03b2ff;
  --back-size-text-disabled: rgba(96, 165, 250, 0.5);

  /* lay variables */
  --lay-bg: rgba(42, 12, 19, 0.6);
  --lay-border: #ff7a7f;
  --lay-hover: rgba(42, 12, 19, 0.8);
  --lay-noprice-bg: rgba(42, 12, 19, 0.6);
  --lay-noprice-border: #ff7a7f;
  --lay-disabled-bg: rgba(42, 12, 19, 0.2);
  --lay-disabled-border: rgba(255, 122, 127, 0.5);
  --lay-price-text: #ff7a7f;
  --lay-size-text: #ff7a7f;

  /* ---- */
  --lay-price-text-disabled: rgba(255, 122, 127, 0.5);
  --lay-price-text-noprice: #ff7a7f;
  --lay-size-text-noprice: #ff7a7f;
  --lay-size-text-disabled: rgba(255, 122, 127, 0.5);
  /* neutral / structural */
  --bs-text: #ffffff;
  --bs-label: rgba(255, 255, 255, 0.55);
  --bs-event-name: rgba(255, 255, 255, 0.55);
  --bs-profit-label: rgba(255, 255, 255, 0.6);
  --bs-input-bg: rgba(0, 0, 0, 0.3);
  --bs-odds-border: rgba(255, 255, 255, 0.15);
  --bs-circle-btn-bg: rgba(255, 255, 255, 0.1);
  --bs-circle-btn-hover: rgba(255, 255, 255, 0.2);
  --bs-quick-pill-bg: rgba(255, 255, 255, 0.05);
  --bs-quick-pill-border: rgba(255, 255, 255, 0.15);
  --bs-quick-pill-hover-bg: rgba(255, 255, 255, 0.14);
  --bs-quick-pill-hover-border: rgba(255, 255, 255, 0.3);
  --bs-cancel-bg: rgba(255, 255, 255, 0.1);
  --bs-cancel-hover: rgba(255, 255, 255, 0.18);

  /* back accent (blue — same in both themes) */
  --bs-back-accent: #03b2ff;
  --bs-back-accent-bg10: rgba(0, 122, 255, 0.1);
  --bs-back-accent-bg15: rgba(0, 122, 255, 0.15);
  --bs-back-accent-rgb: 0, 122, 255;

  --bs-lay-accent: #ff7a7f;
  --bs-lay-accent-bg10: rgba(255, 45, 85, 0.1);
  --bs-lay-accent-bg15: rgba(255, 45, 85, 0.15);
  --bs-lay-accent-rgb: 255, 45, 85;

  --back-selected: #03b2ff; /* solid blue fill — dark theme */
  --lay-selected: #ff7a7f;

  --background: #141a21;
  --foreground: #ededed;

  --palette-text-primary: #ffffff;
  --palette-text-secondary: var(--secondary-text-color);
  --palette-text-disabled: #637381;
  --palette-background-paper: #1c252e;
  --palette-background-default: #141a21;
  --palette-background-neutral: #28323d;
  --palette-background-paperChannel: 28 37 46;
  --palette-action-activeChannel: 145 158 171;
  --customShadows-z8: 0 8px 16px 0 rgba(0 0 0 / 16%);
  --customShadows-dropdown:
    0 0 2px 0 rgba(0 0 0 / 24%), -20px 20px 40px -4px rgba(0 0 0 / 24%);
  --nav-bullet-light-color: #282f37;
  --head-hover: #1d242b;
  --dropdownBg: #1c252e;
  --IconButton-hoverBg: rgba(
    var(--palette-action-activeChannel) /
      calc(var(--palette-action-hoverOpacity))
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter:
    var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-roboto-condensed: var(--font-roboto-condensed);
  --font-roboto: var(--font-roboto);
  --color-market-name: var(--market-name-text);
}

body {
  background: var(--background);
  color: var(--primary-text-color);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

/* p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
hr,
body,
a,
html {
  touch-action: manipulation !important;
}

* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  overflow: hidden !important;
} */
/* .app-scroll-root {
  overflow-y: auto !important;  
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
} */

body:has(.drawer) {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.announcement-root {
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.57143;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* background-color: rgba(7, 141, 238, 0.16); */
  color: rgb(7, 141, 238);
  padding-left: 32px;
}

/* Icon */
.announcement-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: transparent;
  backdrop-filter: blur(20px);
}

.announcement-svg {
  width: 20px;
  height: 20px;
  display: inline-flex;
  flex-shrink: 0;
}

/* Marquee text */
.announcement-message {
  display: inline-flex;
  animation: marquee-scroll 24.37s linear infinite;
}

/* Animation (same MUI behavior) */
@keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.custom-swiper-container .swiper-pagination {
  position: absolute !important;
  top: 16px !important;
  left: 16px !important;
  width: auto !important;
  display: flex !important;
  align-items: center !important;
  gap: 6px !important;
  z-index: 50 !important;
  /* Z-index barha diya hai */
}

.custom-swiper-container .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
  border-radius: 50% !important;
  transition: all 0.3s ease !important;
  margin: 0 !important;
}

.custom-swiper-container .swiper-pagination-bullet-active {
  width: 20px !important;
  background: #40c4ff !important;
  border-radius: 10px !important;
  opacity: 1 !important;
}

.scrollbar-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.\[\&_\.custom-pagination\]\:z-50 .custom-pagination {
  z-index: 20 !important;
}

.sidebar-container {
  /* background-image: url(/sidebar/download.svg); */
  /* background-size: 50%, 50%;
  background-repeat: no-repeat; */
  backdrop-filter: blur(20px);
  background-position:
    right top,
    left bottom;
}

.css-before::before {
  /* backdrop-filter: blur(6px);
  background-color: rgba(var(--palette-background-defaultChannel) / 80%);
  opacity: 1;
  content: "";
  visibility: visible;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition:
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 200ms cubic-bezier(0.4, 0, 0.2, 1); */
  opacity: 1;
  content: "";
  visibility: visible;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(4px);
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 -2px 6px rgba(255, 255, 255, 0.05);
  transition:
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submitLoader {
  animation: 1.4s linear 0s infinite normal none running submitLoader;
}

@keyframes submitLoader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circleAnimation {
  stroke: currentcolor;

  animation: 1.4s ease-in-out 0s infinite normal none running circleAnimation;
}

@keyframes circleAnimation {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: -126px;
  }
}

#nprogress .bar {
  background: #3aa0ff;
  height: 3px;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #3aa0ff,
    0 0 5px #3aa0ff;
}

.css-4uzy5s {
  background-size: 50%, 50%;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
  background-color: rgba(var(--palette-background-paperChannel) / 90%);
  box-shadow: var(--customShadows-dropdown);
  background-position:
    right top,
    left bottom;
}

.apple-glass-light {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.92),
    rgba(255, 255, 255, 0.78)
  );

  backdrop-filter: blur(22px) saturate(140%);
  -webkit-backdrop-filter: blur(22px) saturate(140%);

  border: 1px solid rgba(0, 0, 0, 0.1);

  box-shadow:
    0 10px 26px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.95),
    inset 0 -1px 0 rgba(0, 0, 0, 0.04);

  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.apple-glass-light::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='120' height='120' filter='url(%23n)' opacity='.035'/%3E%3C/svg%3E");

  pointer-events: none;
  mix-blend-mode: multiply;
}

.apple-glass {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12),
    rgba(255, 255, 255, 0.04)
  );

  backdrop-filter: blur(28px) saturate(180%);
  -webkit-backdrop-filter: blur(28px) saturate(180%);

  border: 1px solid rgba(255, 255, 255, 0.18);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 -1px 0 rgba(0, 0, 0, 0.25);

  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.apple-glass::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='120' height='120' filter='url(%23n)' opacity='.08'/%3E%3C/svg%3E");
  pointer-events: none;
  mix-blend-mode: overlay;
}

.apple-glass-dark {
  /* background: linear-gradient(
    180deg,
    rgba(20, 30, 40, 0.75),
    rgba(15, 25, 35, 0.55)
  );

   backdrop-filter: blur(32px) saturate(160%);
  -webkit-backdrop-filter: blur(32px) saturate(160%);


  backdrop-filter: url(#glass);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 2.2);

  border: 1px solid rgba(255, 255, 255, 0.12);

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    inset 0 -1px 0 rgba(0, 0, 0, 0.4); */

  -webkit-backdrop-filter: url("#glass");
  backdrop-filter: blur(8px) saturate(150%) !important;
  background: linear-gradient(rgba(20, 30, 40, 0.75), rgba(15, 25, 35, 0.55));
  border: 1px solid rgba(255, 255, 255, 0.12);
  /* transition: all .8s cubic-bezier(.175, .885, .32, 2.2); */
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.6),
    inset 0 1px rgba(255, 255, 255, 0.15),
    inset 0 -1px rgba(0, 0, 0, 0.4);
}

.liquid-field {
  background: linear-gradient(
    180deg,
    rgb(255 255 255 / 1%),
    rgba(255, 255, 255, 0.03)
  );
  backdrop-filter: blur(3px) saturate(140%);
  -webkit-backdrop-filter: blur(6px) saturate(140%);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  border-radius: 12px;
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.12),
    inset 0 -1px 0 rgba(0, 0, 0, 0.35);
}

.liquid-field-light {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 0.65)
  );

  backdrop-filter: blur(6px) saturate(120%);
  -webkit-backdrop-filter: blur(6px) saturate(120%);

  /* border: 1px solid rgba(0, 0, 0, 0.08); */
  border-radius: 12px;

  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.9),
    inset 0 -1px 0 rgba(0, 0, 0, 0.05),
    0 4px 12px rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
  .apple-glass {
    border-radius: 0px !important;
  }
}

.glass {
  backdrop-filter: blur(4px);
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 -2px 6px rgba(255, 255, 255, 0.05);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
.glass-blur {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 -2px 6px rgba(255, 255, 255, 0.05);
}

.glass-blur:before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  border-radius: inherit;
}
.glass-radial {
  backdrop-filter: blur(2px);
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 -2px 6px rgba(255, 255, 255, 0.05);
}

.glass-btn {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );
  backdrop-filter: blur(20px) saturate(160%);
  box-shadow:
    0 6px 18px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

/* Spark animations for price updates - jab socket sy data update hota hai tu ye classes use hoti hain */

.back-1.spark {
  animation: sparkBack 0.5s ease;
}

@keyframes sparkBack {
  0% {
    background-color: #72bbef;
    color: #1e1e1e;
  }

  50% {
    background-color: #f8e71c;
    color: #fff;
  }

  100% {
    background-color: #72bbef;
    color: #1e1e1e;
  }
}

.back-2.spark {
  animation: sparkBack_2 0.5s ease;
}

@keyframes sparkBack_2 {
  0% {
    background-color: #b7d5eb;
    color: #1e1e1e;
  }

  50% {
    background-color: #f8e71c;
    color: #fff;
  }

  100% {
    background-color: #b7d5eb;
    color: #1e1e1e;
  }
}

.back-3.spark {
  animation: sparkBack_3 0.5s ease;
}

@keyframes sparkBack_3 {
  0% {
    background-color: #d7e8f4;
    color: #1e1e1e;
  }

  50% {
    background-color: #f8e71c;
    color: #fff;
  }

  100% {
    background-color: #d7e8f4;
    color: #1e1e1e;
  }
}

.lay-1.spark {
  animation: sparkLay 0.5s ease;
}

@keyframes sparkLay {
  0% {
    background-color: #faa9ba;
    color: #1e1e1e;
  }

  50% {
    background-color: #26f1f8;
    color: #fff;
  }

  100% {
    background-color: #faa9ba;
    color: #1e1e1e;
  }
}

.lay-2.spark {
  animation: sparkLay_2 0.5s ease;
}

@keyframes sparkLay_2 {
  0% {
    background-color: #efd3d9;
    color: #1e1e1e;
  }

  50% {
    background-color: #26f1f8;
    color: #fff;
  }

  100% {
    background-color: #efd3d9;
    color: #1e1e1e;
  }
}

.lay-3.spark {
  animation: sparkLay_3 0.5s ease;
}

@keyframes sparkLay_3 {
  0% {
    background-color: #f6e6ea;
    color: #1e1e1e;
  }

  50% {
    background-color: #26f1f8;
    color: #fff;
  }

  100% {
    background-color: #f6e6ea;
    color: #1e1e1e;
  }
}

.glass-active {
  backdrop-filter: blur(4px);
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 -2px 6px rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.skiptranslate {
  display: none !important;
  position: relative;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

.arrow {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(var(--palette-background-paperChannel) / 90%);
}

.neon-underline {
  --underline-width: 75%;
  --side-color: var(--primary-color);
  --middle-color: var(--primary-color);

  position: absolute;
  width: 100%;
  z-index: 999999;
  height: auto;
}

/* shared alignment */
.neon-glow,
.neon-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

/* ---------- IMPORTANT FIX ---------- */
/* place glow ABOVE line */
.neon-line {
  top: 6px;
}

.neon-glow {
  top: 3px;
  /* slightly above */
  filter: blur(6px);
}

/* =========================
   OUTER LINE
========================= */
.glow-main {
  width: var(--underline-width);
  height: 3px;
  background: linear-gradient(
    to right,
    transparent,
    var(--side-color),
    transparent
  );
}

.line-main {
  width: var(--underline-width);
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    var(--side-color),
    transparent
  );
}

/* =========================
   CENTER HIGHLIGHT
========================= */
.glow-center {
  width: calc(var(--underline-width) / 3);
  height: 6px;
  background: linear-gradient(
    to right,
    transparent,
    var(--middle-color),
    transparent
  );
}

.line-center {
  width: calc(var(--underline-width) / 3);
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    var(--middle-color),
    transparent
  );
}

.glow-left {
  width: calc(var(--underline-width) / 3);
  height: 6px;
  background: linear-gradient(to right, var(--middle-color), transparent);

  left: calc(50% - (var(--underline-width) / 2));
  transform: none;
}

.line-left {
  width: calc(var(--underline-width) / 3);
  height: 1px;
  background: linear-gradient(to right, var(--middle-color), transparent);

  left: calc(50% - (var(--underline-width) / 2));
  transform: none;
}

/* =========================
   RIGHT HIGHLIGHT
========================= */
.glow-right {
  width: calc(var(--underline-width) / 3);
  height: 6px;
  background: linear-gradient(to right, transparent, var(--middle-color));

  left: calc(50% + (var(--underline-width) / 2) - (var(--underline-width) / 3));
  transform: none;
}

.line-right {
  width: calc(var(--underline-width) / 3);
  height: 1px;
  background: linear-gradient(to right, transparent, var(--middle-color));

  left: calc(50% + (var(--underline-width) / 2) - (var(--underline-width) / 3));
  transform: none;
}

.active .exch {
  display: block;
  bottom: 0px;
  left: 0px;
}

.active .exch .neon-underline,
.active .casino .neon-underline {
  --underline-width: 100% !important;
}

.active .casino {
  display: block;
  bottom: 0px;
  left: 0px;
}

/* 🔒 iOS Safari layer stabilization fix */
.sidebar-container a,
.sidebar-container svg,
.sidebar-container .sportImage {
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
}

.sidebar-container {
  contain: paint;
  isolation: isolate;
}

.size {
  font-size: var(--lay-and-back-size);
}

.price {
  font-size: var(--lay-and-back-prize);
}
.live-neon {
  --neon: #078dee; /* your primary color */
  position: relative;
  isolation: isolate; /* keeps ::after behind but not outside parent stacking */
  z-index: 0;
}

/* sharp neon border + glow */
.live-neon::before {
  content: "";
  position: absolute;
  inset: -1px; /* slightly outside your existing border */
  border-radius: inherit;
  pointer-events: none;

  border: 1px solid color-mix(in srgb, #22c55e 65%, transparent);
}

/* soft “light sweep” like the line in your image */
.live-neon::after {
  content: "";
  position: absolute;
  inset: -6px;
  border-radius: inherit;
  pointer-events: none;
  z-index: -1;

  background: linear-gradient(
    90deg,
    transparent 0%,
    color-mix(in srgb, #22c55e 85%, transparent) 50%,
    transparent 100%
  );
  filter: blur(10px);
  opacity: 0.55;
}
